#root_div{
  margin: 10px 30px 30px 30px;
}

.column {
  float: left;
  padding: 10px;
  height: 300px;
}

.left {
  width: 35%;
}

.right {
  width: 65%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
